footer.b-footer
    .b-footer__container.b-container
        .b-footer__inner
            .b-footer__info
                a(href="/").b-footer__logo ЗубЧист
                p.b-footer__copyright © 2019 — 2020 ООО  «Зубчист» все права защищены
                a(href="#").b-footer__terms Пользовательское соглашение
            .b-footer__navigation
                .b-footer__menu.b-menu
                    span.b-menu__title(rel="js-accordion-toggle") Меню
                    ul.b-menu__list
                        li.b-menu__item
                            a(href="#").b-menu__link Обратная связь
                        li.b-menu__item
                            a(href="#").b-menu__link Корзина
                        li.b-menu__item
                            a(href="#").b-menu__link Личный кабинет
                        li.b-menu__item
                            a(href="#").b-menu__link Новости
                .b-footer__menu.b-menu
                    span.b-menu__title(rel="js-accordion-toggle") Как купить
                    ul.b-menu__list
                        li.b-menu__item
                            a(href="#").b-menu__link Доставка
                        li.b-menu__item
                            a(href="#").b-menu__link Возврат
                        li.b-menu__item
                            a(href="#").b-menu__link Помощь
                .b-footer__menu.b-menu
                    span.b-menu__title(rel="js-accordion-toggle") Партнёрам
                    ul.b-menu__list
                        li.b-menu__item
                            a(href="#").b-menu__link Покупка товаров
                        li.b-menu__item
                            a(href="#").b-menu__link Подарочные сертификаты
                        li.b-menu__item
                            a(href="#").b-menu__link Горячая линия
            .b-footer__media.b-media
                span.b-media__title Зубчист в социальных сетях
                ul.b-media__list
                    li.b-media__item
                        a(href="#" title="Вконтакте" target="_blank" rel="noopener noreferrer").b-media__link
                            +svg('b-media__icon', 'vk')
                    li.b-media__item
                        a(href="#" title="Instagram" target="_blank" rel="noopener noreferrer").b-media__link
                            +svg('b-media__icon', 'inst')
                    li.b-media__item
                        a(href="#" title="YouTube" target="_blank" rel="noopener noreferrer").b-media__link
                            +svg('b-media__icon', 'yt')
                    li.b-media__item
                        a(href="#" title="WhatsApp" target="_blank" rel="noopener noreferrer").b-media__link
                            +svg('b-media__icon', 'wa')